:root {
    --text: #27272B;
    --background: #fff;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background)
}

button {
    padding: 6px 8px;
}

#exam-settings {
    display: none;
}